<h2 class="screen-align">DispathMaterail</h2>
<div id="template-icwx" class="row">
    <div id="template-ipuv" class="cell">
        <label id="template-ifi8" class="label">Material</label>
        <input id="template-i1un" class="input form-control" />
    </div>
    <div id="template-ibdsg" class="cell">
        <label id="template-ijyi" class="label">Tools</label>
        <input id="template-ics4" class="input form-control" />
    </div>
    <div id="template-i29l" class="cell">
        <label id="template-izs2" class="label">Price</label>
        <input id="template-izk9" class="input form-control" />
    </div>
</div>
<div id="template-i689z" class="row">
    <div id="template-iq6fx" class="cell">
        <label id="template-iytqh" class="label">Quantity</label>
        <input id="template-iftx4" [(ngModel)]="production.quantity"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
        <button id="template-i7xwr" (click)="GpCreate()" class="button btn btn-primary">Send</button>
    </div>
    <div id="template-ilohj" class="cell"></div>
    <div id="template-idbzs" class="cell"></div>
</div>